<!--<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>-->
<mat-toolbar color="primary">
    <span>Thingsplex <small> v{{version}}</small></span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['settings']">
        <mat-icon>build</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="users()">
        <mat-icon>devices_other</mat-icon>
        <span>Users</span>
      </button>
      <button mat-menu-item [routerLink]="['/stats/angrydog']">
        <mat-icon>devices_other</mat-icon>
        <span>Monitoring</span>
      </button>
      <button mat-menu-item (click)="goToLink('https://thingsplex.github.io/docs/thingsplex-ui/')">
        <mat-icon>devices_other</mat-icon>
        <span>Help</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>follow_the_signs</mat-icon>
        <span>Log Out</span>
      </button>
      </mat-menu>
</mat-toolbar>

<nav mat-tab-nav-bar>
<a mat-tab-link [routerLink]="['/analytics/dashboard']" >Analytics</a>
<a mat-tab-link [routerLink]="['/registry/locations']" >Registry</a>
<a mat-tab-link [routerLink]="['/flow/overview']" >Flow</a>
<a mat-tab-link [routerLink]="['/zwave-man']" >Adapters</a>
<a mat-tab-link [routerLink]="['/system/apps-man']" >Hub</a>
<a mat-tab-link [routerLink]="['timeline']" >Message stream</a>
</nav>

<mat-sidenav-container class="example-container">
<router-outlet ></router-outlet>

 <mat-sidenav #sidenav class="example-sidenav">
   <timeline></timeline>
</mat-sidenav>



</mat-sidenav-container>

