<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/analytics/dashboard']" >Dashboard</a>
  <a mat-tab-link [routerLink]="['/analytics/sensors']" >Sensors</a>
  <a mat-tab-link [routerLink]="['/analytics/activity']" >Activity</a>
  <a mat-tab-link [routerLink]="['/analytics/energy']" >Energy</a>
  <a mat-tab-link [routerLink]="['/analytics/explore']" >Explore</a>
  <a mat-tab-link active [routerLink]="['/analytics/settings']" >Settings</a>
</nav>

<br/>
<mat-expansion-panel style="margin: 5px" >
  <mat-expansion-panel-header>
    Data visualization global settings
  </mat-expansion-panel-header>
  <mat-panel-description>

  </mat-panel-description>
  <p> Color settings </p>
  <table>
    <thead>
    <th style="width: 250px"> Label </th>
    <th style="width: 70px"> Color </th>
    </thead>
    <tbody>
    <tr *ngFor="let c of colors">
      <td>{{c.label}}</td>
      <td style="width: 150px;" ><input type="color" (change)="colorUpdate(c.label,$event)" [value]="c.color"> </td>
    </tr>
    </tbody>
  </table>

</mat-expansion-panel>


<div>
<mat-expansion-panel style="margin: 5px" >
  <mat-expansion-panel-header>
    Data collection settings
  </mat-expansion-panel-header>
  <mat-panel-description>
  </mat-panel-description>

<mat-card style="margin: 5px">
  <mat-card-header>
    <mat-card-title><h3>Configured event collectors</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <thead>
        <th style="width: 50px"> Id</th>
        <th style="width: 150px"> Name</th>
        <th style="width: 70px"> State </th>
        <th style="width: 80px"> Action </th>
      </thead>
      <tbody>
        <tr *ngFor="let proc of procList">
          <td>{{proc.Config.ID}}</td>
          <td>{{proc.Config.Name}}</td>
          <td style="width: 150px">{{proc.State}}</td>
          <td style="width: 300px">
            <mat-chip-list >
              <mat-chip color="warn" (click)="selectProc(proc.Config)">Configure</mat-chip>
              <mat-chip color="warn" (click)="procCtrl('start',proc.Config.ID)">Start</mat-chip>
              <mat-chip color="warn" (click)="procCtrl('stop',proc.Config.ID)">Stop</mat-chip>
              <mat-chip color="warn" (click)="procCtrl('delete',proc.Config.ID)">Delete</mat-chip>
            </mat-chip-list>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-card-actions>
      <button mat-raised-button (click)="addProc()"> Add new </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>


<mat-card style="margin: 5px" *ngIf="selectedProcData">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title><h3>Process configurations</h3></mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content *ngIf="selectedProcData">
      <div  class="tsdb-config-card">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Process name" [(ngModel)]="selectedProcData.Name" >
      </mat-form-field>
      <p>
      <mat-form-field class="example-full-width">
        <input  matInput placeholder="Mqtt broker host" [(ngModel)]="selectedProcData.MqttBrokerAddr" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="username" [(ngModel)]="selectedProcData.MqttBrokerUsername" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="password" [(ngModel)]="selectedProcData.MqttBrokerPassword" >
      </mat-form-field>
      </p>
        <br/>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="InfluxDB host" [(ngModel)]="selectedProcData.InfluxAddr" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="username" [(ngModel)]="selectedProcData.InfluxUsername" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="password" [(ngModel)]="selectedProcData.InfluxPassword" >
          </mat-form-field>
        <br/>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="DB name" [(ngModel)]="selectedProcData.InfluxDB" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="batch size" [(ngModel)]="selectedProcData.BatchMaxSize" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="batch save interval" [(ngModel)]="selectedProcData.SaveInterval" >
          </mat-form-field>
        <br/>
          <mat-form-field class="example-full-width" style="width: 400px">
            <input  matInput placeholder="Site Id" [(ngModel)]="selectedProcData.SiteId" >
          </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width" style="width: 400px">
          <input  matInput placeholder="Profile" [(ngModel)]="selectedProcData.Profile" >
        </mat-form-field>
        <div style="margin-bottom: 5px;margin-top: 10px" >
          <mat-checkbox [(ngModel)]="selectedProcData.Autostart" >Auto start</mat-checkbox>
        </div>
        <div style="margin-bottom: 5px;margin-top: 10px" >
          <mat-checkbox [(ngModel)]="selectedProcData.InitDb" >Init DB</mat-checkbox>
        </div>
      </div>
      <mat-expansion-panel style="margin-top: 20px;">
        <mat-expansion-panel-header>
          <mat-panel-title> Selectors </mat-panel-title>
        </mat-expansion-panel-header>
      <mat-card >
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let sel of selectedProcData.Selectors">
              <mat-form-field class="form-full-width">
                <input  matInput placeholder="Topic" [(ngModel)]="sel.Topic" >
              </mat-form-field>

              <button *ngIf="sel.ID==-1" class="delete-button" mat-raised-button (click)="saveSelector(sel)"> Save</button>
              <button class="delete-button" mat-raised-button (click)="removeSelector(sel.ID)"> Delete</button>
            </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="addSelector()"> Add </button>
        </mat-card-actions>
      </mat-card>
      </mat-expansion-panel>

      <mat-expansion-panel style="margin-top: 20px;">
        <mat-expansion-panel-header>
          <mat-panel-title> Filters </mat-panel-title>
        </mat-expansion-panel-header>

      <mat-card>
        <mat-card-content>
          <mat-list>
          <mat-list-item *ngFor="let sel of selectedProcData.Filters">
            <mat-form-field class="form-filters">
              <input  matInput placeholder="Name" [(ngModel)]="sel.Name" >
            </mat-form-field>
              <mat-form-field style="width:200px">
                <input  matInput placeholder="Topic" [(ngModel)]="sel.Topic" >
              </mat-form-field>
            <mat-form-field class="form-filters">
              <input  matInput placeholder="Service" [(ngModel)]="sel.Service" >
            </mat-form-field>
            <mat-form-field class="form-filters">
                <input  matInput placeholder="MsgType" [(ngModel)]="sel.MsgType" >
            </mat-form-field>
            <div style="margin-bottom: 5px;margin-top: 10px;margin-left: 5px" >
              <mat-checkbox [(ngModel)]="sel.Negation" > Exclude </mat-checkbox>
            </div>
            <button *ngIf="sel.ID==-1" class="delete-button" mat-raised-button (click)="saveFilter(sel)"> Save</button>
            <button class="delete-button" mat-raised-button (click)="removeFilter(sel.ID)"> Delete</button>
          </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="addFilter()"> Add </button>
        </mat-card-actions>
      </mat-card>

      </mat-expansion-panel>
      <mat-card-actions>
        <button mat-raised-button (click)="updateProcess()"> Save </button>
        <button mat-raised-button (click)="resetConfigsToDefault()" color="warn" >Reset to default configs</button>
      </mat-card-actions>
    </mat-card-content>
</mat-card>


<mat-card style="margin: 5px" *ngIf="selectedProcData">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title><h3>DB configuration and monitoring</h3></mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>

    <mat-expansion-panel style="margin-top: 20px;">
      <mat-expansion-panel-header>
        <mat-panel-title> Measurements </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card >
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let sel of listOfMeasurements">
              <span style="width: 400px">{{ sel }}</span>
              <button class="delete-button" mat-raised-button (click)="deleteDbObject('measurement',sel)"> Delete</button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel style="margin-top: 20px;">
      <mat-expansion-panel-header>
        <mat-panel-title> Retention policies </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card >
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let sel of listOfRetensions">
              <span style="width: 400px">{{ sel }}</span>
              <button class="delete-button" mat-raised-button (click)="deleteDbObject('retention_policy',sel)"> Delete</button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>

</mat-expansion-panel>
</div>


