<div style="margin: 3px">
  <mat-form-field appearance="outline" style="width:90%;margin-left: 5px">
    <mat-label>Location</mat-label>
    <mat-select placeholder="Location (room,area,house)"  [(ngModel)]="selectedLocationId" (selectionChange)="onLocationSelected()" >
       <mat-option *ngFor="let location of registry.locations" [value]="location.id">{{ location.alias }} ({{location.type}}) </mat-option>
    </mat-select>
  </mat-form-field>
    <p>
  <mat-form-field appearance="outline" style="width:90%;margin-left: 5px">
    <mat-label>Thing</mat-label>
    <mat-select #thingInput placeholder="Thing"  [(ngModel)]="selectedThingId" (selectionChange)="onThingSelected()" >
      <mat-option *ngFor="let thing of things" [value]="thing.id" >{{ thing.alias }} ({{thing.type}}) </mat-option>
    </mat-select>
  </mat-form-field>
    </p>
    <p>
   <mat-form-field appearance="outline" style="width:90%;margin-left: 5px">
    <mat-label>Service</mat-label>
    <mat-select #serviceInput placeholder="Service"  [(ngModel)]="selectedServiceId" (selectionChange)="onServiceSelected()" >
        <mat-option *ngFor="let service of services" [value]="service.name" >{{ service.alias }} ({{service.name}}) </mat-option>
    </mat-select>
   </mat-form-field>
    </p>
   <p>
   <mat-form-field *ngIf="activeService"  appearance="outline" style="width:90%;margin-left: 5px">
      <mat-label>Functionality:</mat-label>
      <mat-select #interfaceInput placeholder="Action" [(ngModel)]="selectedInterfaceName" (selectionChange)="onInterfaceSelected()" >
        <mat-option *ngFor="let intf of activeService.interfaces" [value]="intf.msg_t" >{{intf.alias}} ({{ intf.msg_t }})  </mat-option>
      </mat-select>
   </mat-form-field>
   </p>

 </div>
