/* Structure */
.table-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
}

md-chip {
  cursor: pointer;
}
.mat-cell:nth-child(1), .mat-header-cell:nth-child(1) {
    flex: 0 0 170px;
}

.mat-cell:nth-child(2), .mat-header-cell:nth-child(2) {
  flex: 0 0 300px;
}
.mat-cell:nth-child(3), .mat-header-cell:nth-child(3) {
  flex: 0 0 200px;
}
.mat-cell:nth-child(4), .mat-header-cell:nth-child(4) {
  flex: 0 0 400px;
}
