<nav mat-tab-nav-bar>
  <a mat-tab-link active [routerLink]="['/system/apps-man']" >Applications</a>
  <a mat-tab-link active [routerLink]="['/system/dashboard']" >Hardware and network</a>
</nav>

<div style="overflow: hidden" >

       <mat-card class="card">
        <mat-card-header>
            <mat-card-title><h3> Applications </h3></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="margin: 10px">
          <label style="margin: 5px">Filter:</label>
          <mat-radio-group [(ngModel)] = "filter" class="conf-radio-group">
            <mat-radio-button class="conf-radio-button"  [value]="'user'">
              User apps
            </mat-radio-button>
            <mat-radio-button class="conf-radio-button"  [value]="'all'">
              All
            </mat-radio-button>
          </mat-radio-group>
          </div>
          <table >
            <thead>
            <tr>
                <th width="270px">Name</th>
                <th width="150px">Version</th>
                <th width="150px">Update</th>
                <th width="100px"> Discoverable </th>
                <th width="100px"> Playgrounds </th>
                <th width="150px"> Actions </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let app of apps">
            <tr *ngIf="filter=='all' || (app.isDiscoverable || app.isInPlaygrounds)" >
              <td >{{app.name}}</td>
              <td >{{app.version}}</td>
              <td >{{app.updateVersion}}</td>
              <td> <ng-container *ngIf="app.isDiscoverable"> <span style="color: #3c763d">Yes</span> </ng-container>
                   <ng-container *ngIf="!app.isDiscoverable"> <span style="color:#c9302c">No</span> </ng-container></td>
              <td> <ng-container *ngIf="app.isInPlaygrounds"> <span style="color: #3c763d">Yes</span> </ng-container>
                <ng-container *ngIf="!app.isInPlaygrounds"> <span style="color:#c9302c">No</span> </ng-container></td>
              <td>
                <mat-chip-list>
                  <mat-chip class="open-chip" [routerLink]="['/system/app-config',app.name,app.version]">Configure & Control</mat-chip>
                </mat-chip-list>
              </td>
            </tr>
            </ng-container>
            </tbody>
          </table>

          <mat-form-field>
            <mat-label>Application name</mat-label>
            <input matInput #appName type="text"  placeholder="">
          </mat-form-field>
          <button mat-raised-button (click)="controlApp(appName.value,'install')" color="primary" > Install </button>

          <p> <button mat-raised-button (click)="requestInstalledApps()" color="primary" > Reload</button>
            <button mat-raised-button (click)="discoverLocalApps()" color="primary" > Discover local apps</button>
            <button mat-raised-button (click)="checkForUpdates()" color="primary" > Check for updates</button> </p>
        </mat-card-content>
    </mat-card>


</div>
