 <div class="app-content">
 <mat-card class="example-card">
 <mat-card-header>
    <h4> Message stream </h4>
 </mat-card-header>
 <mat-card-content >

<div>
    <mat-form-field style="width:300px ">
        <input matInput #topicFilterInput type="text" [(ngModel)] = "topicFilter"  placeholder="Topic filter" >
    </mat-form-field>
    <mat-form-field style="width:150px ">
        <input matInput #serviceFilterInput type="text" [(ngModel)] = "serviceFilter"   placeholder="Service filter" >
    </mat-form-field>
    <mat-form-field style="width:250px ">
        <input matInput #msgTypeFilterInput type="text" [(ngModel)] = "msgTypeFilter"  placeholder="Message type filter" >
    </mat-form-field>
    <button mat-raised-button (click)="filter()" >Filter</button>
    <button mat-raised-button (click)="resetFilter()" >Reset</button>

    <p>
       <mat-form-field style="width:250px ">
          <input matInput #maxLogSizeInput type="number" [(ngModel)] = "fimpService.maxLogSize"  placeholder="Max log size" >
       </mat-form-field>
       <button style="margin: 10px" mat-raised-button (click)="settings.hidden = !settings.hidden" >Open mqtt client</button>
    </p>
</div>
<br/>
 <div #settings hidden >
     <mat-form-field style="width:300px" class="node-transition-field">
         <input matInput #topicInput [(ngModel)]="topic"  placeholder="Topic">
     </mat-form-field>
     <mat-form-field   style="width: 100%">
     <textarea class="sourceEditor" mat-autosize [(ngModel)]="payload"  minRows="6" matInput #payloadInput placeholder="Payload" > </textarea>
     </mat-form-field>
     <br/>
     <button mat-raised-button (click)="sendMessage(topicInput.value,payloadInput.value)" >Send</button>
 </div>
<mat-table #table [dataSource]="dataSource" >

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Progress Column -->
          <ng-container cdkColumnDef="time">
            <mat-header-cell  *cdkHeaderCellDef> Timestamp </mat-header-cell>
            <mat-cell  *cdkCellDef="let row">  {{row.localTs | date:'HH:mm:ss.SSS'}} </mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="topic">
            <mat-header-cell *cdkHeaderCellDef> Topic </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.topic}} </mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="service">
              <mat-header-cell *cdkHeaderCellDef> Service </mat-header-cell>
              <mat-cell *cdkCellDef="let row">{{row.service}} </mat-cell>
           </ng-container>
          <ng-container cdkColumnDef="msgType">
            <mat-header-cell *cdkHeaderCellDef> Msg type </mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.mtype}} </mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="value">
            <mat-header-cell *cdkHeaderCellDef> Value </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.val}} </mat-cell>
          </ng-container>
          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)" ></mat-row>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="15"
      [pageSizeOptions]="[15, 100, 200 , 300]">
    </mat-paginator>

 </mat-card-content>
 </mat-card>



 </div>
