<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/analytics/dashboard']" >Dashboard</a>
    <a mat-tab-link [routerLink]="['/analytics/sensors']" >Sensors</a>
    <a mat-tab-link [routerLink]="['/analytics/presence']" >Presence</a>
    <a mat-tab-link [routerLink]="['/analytics/energy']" >Energy</a>
    <a mat-tab-link active [routerLink]="['/analytics/explore']" >Explore</a>
</nav>

<div style="overflow: hidden" >


<line-chart [measurement]="'electricity_meter_power'" [title]="'Power (W)'" [groupByTag]="'thing_id'"  [groupByTime]="'1h'"></line-chart>

<line-chart [measurement]="'electricity_meter_energy'" [title]="'Energy (kWh)'" [groupByTag]="'thing_id'" [groupByTime]="'1h'" ></line-chart>

</div>
