.canvas-area {
  width:100%;
  min-height:500px;
  border-color: gainsboro;
  overflow: auto;
}

.node-card {
  /*padding: 10px;*/
  /*width: 200px;*/
  position: absolute;
}

.active-energy-flow {
  stroke-width:15;
  fill: none;
  stroke-dasharray: 20;
  stroke-dashoffset: 40;
  animation: move 1s linear infinite;
}

.inactive-energy-flow {
  stroke-width:15;
  stroke: #b8b7b7;
}

.import-active-flow {
  stroke: #ffe341;
}

.export-active-flow {
  stroke: #a4e060;
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}


mwl-gauge {
  width: 150px;
  display: inline-block;
  padding: 1px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 7;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 7;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}

/* ------- Alternate Style ------- */
mwl-gauge.pimport {
}
mwl-gauge.pimport >>> .gauge >>> .dial {
  stroke: #858c91;
  stroke-width: 7;
}
mwl-gauge.pimport >>> .gauge >>> .value {
  stroke: orange;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.pimport >>> .gauge >>> .value-text {
  fill: orange;
}

mwl-gauge.pexport >>> .gauge >>> .value {
  stroke: #6edb6e;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.pexport >>> .gauge >>> .value-text {
  fill: #6edb6e;
}
