<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/flow/overview']" >Flows</a>
    <a mat-tab-link [routerLink]="['/flow/context']" >Context</a>
    <a mat-tab-link [routerLink]="['/flow/lib']" >Cloud library</a>
</nav>
<div class="flow">
  <mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title><h3>Automation flows</h3></mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>

      <div style="margin: 10px">
        <label style="margin: 5px">Show only :</label>
        <mat-radio-group [(ngModel)] = "filter" class="conf-radio-group">
          <mat-radio-button class="conf-radio-button"  [value]="'RUNNING'">
            Running flows
          </mat-radio-button>
          <mat-radio-button class="conf-radio-button"  [value]="'STOPPED'">
            Stopped flows
          </mat-radio-button>
          <mat-radio-button class="conf-radio-button"  [value]="'ALL'">
            All flows
          </mat-radio-button>
        </mat-radio-group>
      </div>

   <mat-list >
     <ng-container *ngFor="let group of groups">
     <h3 >  {{group}}</h3>
       <ng-container *ngFor="let flow of flows">
         <mat-list-item  *ngIf="flow.Group == group && (flow.State==filter || filter=='ALL' )">
           <mat-icon mat-list-icon *ngIf="flow.State=='RUNNING'" style="color: #64ae52">device_hub</mat-icon>
           <mat-icon mat-list-icon *ngIf="flow.State!='RUNNING'" style="color: #ff3928">device_hub</mat-icon>
           <h3 mat-line style="font-size: 21px">  {{flow.Name}} </h3>
           <p mat-line> Description : {{flow.Description}} </p>
           <p mat-line> State : {{flow.State }} <ng-container *ngIf="flow.IsDisabled==true" > and is disabled </ng-container> </p>
           <p mat-line> Executed : {{flow.TriggerCounter}} Failed : {{flow.ErrorCounter}} Nodes : {{ flow.Stats.NumberOfNodes}}  Triggers : {{flow.Stats.NumberOfTriggers}} Active triggers : {{flow.Stats.NumberOfActiveTriggers}} Active flows {{flow.Stats.NumberOfActiveSubflows}} </p>
           <p mat-line> Started at : {{flow.Stats.StartedAt | date:'yyyy-MM-dd H:mm:ss'}} Duration : {{flow.Stats.LastExecutionTime }} </p>

           <p mat-line>
             <mat-chip-list style="margin:10px">
                <mat-chip class="open-chip" [routerLink]="['/flow/editor',flow.Id]">Open</mat-chip>
                <mat-chip class="open-chip" (click)="sendFlowControlCommand(flow.Id,'start')">Start</mat-chip>
                <mat-chip class="open-chip" (click)="sendFlowControlCommand(flow.Id,'stop')">Stop</mat-chip>
                <mat-chip color="warn" (click)="deleteFlow(flow.Id)">Delete</mat-chip>
             </mat-chip-list>
           </p>

         </mat-list-item>
        </ng-container>
        <mat-divider></mat-divider>
      </ng-container>
   </mat-list>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/flow/editor','-']" color="primary" > Add new flow</button>
      <button mat-raised-button (click)="openFlowImportWindow()" color="primary" > Import  </button>
      <button mat-raised-button (click)="openFlowImportWindow()" color="primary" > Backup  </button>
      <button mat-raised-button (click)="showLog()" color="primary" >Log</button>
      <button mat-raised-button (click)="loadListOfFlows()">Refresh</button>
    </mat-card-actions>
  </mat-card>

</div>
