
<nav *ngIf="!isEmbedded" mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/flow/overview']" >Flows</a>
    <a mat-tab-link [routerLink]="['/flow/context']" >Context</a>
</nav>
  <br/>
  <div class="table-container mat-elevation-z8">
    <div class="example-header">
      <section *ngIf="isEmbedded">
      <label >Show :</label>
      <mat-radio-group [(ngModel)]="loadMode" (change)="onModeChange($event)">
        <mat-radio-button class="example-margin" value="local">flow variables</mat-radio-button>
        <mat-radio-button class="example-margin" value="global">global variables</mat-radio-button>
      </mat-radio-group>
      </section>
    </div>

    <mat-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Progress Column -->
      <ng-container cdkColumnDef="flowId">
        <mat-header-cell  *cdkHeaderCellDef> Flow id  </mat-header-cell>
        <mat-cell  *cdkCellDef="let row"> {{row.FlowId}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.Name}} </mat-cell>
      </ng-container>
       <ng-container cdkColumnDef="description">
        <mat-header-cell *cdkHeaderCellDef> Description </mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.Description}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="valueType">
        <mat-header-cell *cdkHeaderCellDef> Value type </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.ValueType}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="value">
        <mat-header-cell *cdkHeaderCellDef> Value </mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.Value}}  </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="updatedAt">
          <mat-header-cell *cdkHeaderCellDef> Updated At </mat-header-cell>
          <mat-cell *cdkCellDef="let row">{{row.UpdatedAt| date:'yyyy-MM-dd H:mm:ss'}}  </mat-cell>
        </ng-container>
      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef> Action </mat-header-cell>
        <mat-cell *cdkCellDef="let row"><mat-chip-list>
          <mat-chip (click)="showRecordEditorDialog(row)" > Edit </mat-chip>
        </mat-chip-list> </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div style="width:100%;height:60px">&nbsp; </div>
    <div>
    <button class="add-button" (click)="showAddNewRecordEditorDialog()" mat-mini-fab>Add</button>
    <button class="add-button" style="left:70px" (click)="reload()" mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">refresh</mat-icon>
    </button>
    </div>
  </div>


