<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/flow/overview']" >Flows</a>
  <a mat-tab-link [routerLink]="['/flow/context']" >Context</a>
  <a mat-tab-link [routerLink]="['/flow/lib']" >Cloud library</a>
</nav>
<br/>

<mat-list >

<ng-container *ngFor="let flow of flows">
<mat-list-item >
  <h3 mat-line style="font-size: 21px">  {{flow.Name}} </h3>
  <p mat-line> Description : {{flow.Description}} </p>
  <p mat-line> Updated at  : {{flow.UpdatedAtDate}} </p>
  <p mat-line style="margin-top: 8px">
    <mat-chip-list style="margin:10px">
      <mat-chip class="open-chip" style="margin-bottom: 5px" (click)="importFlow(flow)">Install</mat-chip>
      <mat-chip color="warn" (click)="deleteFlow(flow.DocId)">Delete</mat-chip>
    </mat-chip-list>
  </p>

</mat-list-item>
</ng-container>
</mat-list>


<div id="sign-in-status"></div>
<div id="sign-in"></div>
<div id="account-details"></div>



