<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/analytics/dashboard']" >Dashboard</a>
    <a mat-tab-link [routerLink]="['/analytics/sensors']" >Sensors</a>
    <a mat-tab-link [routerLink]="['/analytics/presence']" >Activity</a>
    <a mat-tab-link [routerLink]="['/analytics/energy']" >Energy</a>
    <a mat-tab-link active [routerLink]="['/analytics/explore']" >Explore</a>
    <a mat-tab-link [routerLink]="['/analytics/settings']" >Settings</a>
</nav>

<div style="overflow: hidden" >


<line-chart [query]="query" [title]="'Explorer'"></line-chart>

  <mat-input-container style="height: 35px;margin: 10px;width: 100%" class="example-full-width">
    <input matInput [(ngModel)]="query" placeholder="query" >
  </mat-input-container>
</div>
