<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/flow/overview']" >Flows</a>
    <a mat-tab-link [routerLink]="['/flow/context']" >Context</a>
</nav>
<div class="flow">
  <mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title><h3>Automation flows</h3></mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>


   <mat-list >
     <ng-container *ngFor="let group of groups">
     <h3 >  {{group}}</h3>
       <ng-container *ngFor="let flow of flows">
         <mat-list-item  *ngIf="flow.Group == group">
           <mat-icon mat-list-icon *ngIf="flow.State=='RUNNING'" style="color: #64ae52">device_hub</mat-icon>
           <mat-icon mat-list-icon *ngIf="flow.State!='RUNNING'" style="color: #ff3928">device_hub</mat-icon>
           <h3 mat-line style="font-size: 21px">  {{flow.Name}} </h3>
           <p mat-line> Description : {{flow.Description}} </p>
           <p mat-line> State : {{flow.State }} Executed : {{flow.TriggerCounter}} Failed : {{flow.ErrorCounter}} </p>
           <p mat-line> Started at : {{flow.Stats.StartedAt | date:'yyyy-MM-dd H:mm:ss'}} Duration : {{flow.Stats.LastExecutionTime }} </p>

           <p mat-line>
             <mat-chip-list style="margin:10px">
                <mat-chip class="open-chip" [routerLink]="['/flow/editor',flow.Id]">Run</mat-chip>
                <mat-chip class="open-chip" [routerLink]="['/flow/editor',flow.Id]">Edit</mat-chip>
                <mat-chip class="open-chip" (click)="sendFlowControlCommand(flow.Id,'start')">Start</mat-chip>
                <mat-chip class="open-chip" (click)="sendFlowControlCommand(flow.Id,'stop')">Stop</mat-chip>
                <mat-chip class="open-chip" [routerLink]="['/flow/editor',flow.Id]">Duplicate</mat-chip>
                <mat-chip color="warn" (click)="deleteFlow(flow.Id)">Delete</mat-chip>
             </mat-chip-list>
           </p>

         </mat-list-item>
        </ng-container>
        <mat-divider></mat-divider>
      </ng-container>
   </mat-list>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/flow/editor','-']" color="primary" > Add new flow</button>
      <button mat-raised-button (click)="openFlowImportWindow()" color="primary" > Import flow</button>
      <button mat-raised-button (click)="showLog()" color="primary" >Log</button>
      <button mat-raised-button (click)="loadListOfFlows()">Refresh</button>
    </mat-card-actions>
  </mat-card>

</div>
