<div>
  <div #nodebody >

    <mat-form-field  style="width: 70px">
      <mat-select #nodeTypeInput placeholder="Method" [(ngModel)]="node.Config.Method">
        <mat-option value="GET">GET</mat-option>
        <mat-option value="POST">POST</mat-option>
        <mat-option value="PUT">PUT</mat-option>
        <mat-option value="PUT">PATCH</mat-option>
        <mat-option value="DELETE">DELETE</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 400px">
      <input matInput [(ngModel)]="node.Config.Url" type="text" placeholder="URL">
    </mat-form-field>
    <div>
    <mat-form-field style="width: 100px">
      <mat-select #nodeTypeInput placeholder="Payload type" (change)="requestPayloadTypeSelected()" [(ngModel)]="node.Config.RequestPayloadType">
        <mat-option value="json">json</mat-option>
        <mat-option value="xml">xml</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div>
    <mat-input-container   style="width: 100%">
        <textarea mat-autosize  minRows="4" matInput placeholder="Request template" [(ngModel)]="node.Config.RequestTemplate" > </textarea>
    </mat-input-container>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Headers </mat-panel-title>
      </mat-expansion-panel-header>
    <div *ngFor="let exp of node.Config.Headers;let index2 = index;">
      <mat-form-field class="node-transition-field">
        <input matInput [(ngModel)]="node.Config.Headers[index2].Name" placeholder="Name" >
      </mat-form-field>
      <mat-form-field class="node-transition-field">
        <input matInput [(ngModel)]="node.Config.Headers[index2].Value" placeholder="Value" >
      </mat-form-field>
      <button mat-raised-button (click)="deleteHeader(node.Config.Headers[index2])" >Delete</button>
    </div>
    <div style="">
      <button mat-raised-button (click)="addHeader()" >Add Header</button>
    </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Authentication </mat-panel-title>
      </mat-expansion-panel-header>
        <div style="margin-bottom: 5px" >
          <mat-checkbox [(ngModel)]="node.Config.Auth.Enabled" > Enabled </mat-checkbox>
        </div>

        <p><mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.Auth.Url" placeholder="Auth endpoint" >
        </mat-form-field></p>

        <mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.Auth.GrantType" placeholder="Grant type" >
        </mat-form-field>

        <mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.Auth.Scope" placeholder="Scope" >
        </mat-form-field>
        <p><mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.Auth.ClientID" placeholder="Client id" >
        </mat-form-field>
        <mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.Auth.ClientSecret" placeholder="Client secret" >
        </mat-form-field></p>

        <p><mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.Auth.Username" placeholder="Username" >
        </mat-form-field>
        <mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.Auth.Password" placeholder="Password" >
        </mat-form-field></p>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Response mapping </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let exp of node.Config.ResponseMapping;let index2 = index;" style="margin-bottom: 10px">
        <mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.ResponseMapping[index2].Name" placeholder="Name" >
        </mat-form-field>
        <mat-form-field style="width: 100px">
          <mat-select #nodeTypeInput placeholder="Path type" [(ngModel)]="node.Config.ResponseMapping[index2].PathType">
            <mat-option value="json">json</mat-option>
            <mat-option value="xml">xml</mat-option>
          </mat-select>
        </mat-form-field>

        <p>
        <mat-form-field style="width: 450px">
          <input matInput [(ngModel)]="node.Config.ResponseMapping[index2].Path" placeholder="Path in response" >
        </mat-form-field>
        </p>
        <div>
        <mat-form-field class="node-transition-field">
          <input matInput [(ngModel)]="node.Config.ResponseMapping[index2].TargetVariableName" placeholder="Result variable name" >
        </mat-form-field>
        <mat-form-field class="value-selector" >
          <mat-select #nodeTypeInput  placeholder="Variable type" [(ngModel)]="node.Config.ResponseMapping[index2].TargetVariableType">
            <mat-option value="">The same as input </mat-option>
            <mat-option value="string">string</mat-option>
            <mat-option value="bool">bool</mat-option>
            <mat-option value="int">int</mat-option>
            <mat-option value="float">float</mat-option>
            <mat-option value="null">null</mat-option>
            <mat-option value="str_array">array of strings</mat-option>
            <mat-option value="int_array">array of integers</mat-option>
            <mat-option value="float_array">array of floats</mat-option>
            <mat-option value="bool_array">array of floats</mat-option>
            <mat-option value="str_map">map of string</mat-option>
            <mat-option value="int_map">map of integers</mat-option>
            <mat-option value="float_map">map of floats</mat-option>
            <mat-option value="bool_map">map of booleans</mat-option>
            <mat-option value="object">object</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div style="margin-bottom: 5px" >
          <mat-checkbox [(ngModel)]="node.Config.ResponseMapping[index2].UpdateTriggerMessage" > Update trigger message </mat-checkbox>
        </div>
        <div style="margin-bottom: 5px" >
          <mat-checkbox [(ngModel)]="node.Config.ResponseMapping[index2].IsVariableGlobal" >Set as global variable (shared between flows) </mat-checkbox>
        </div>


        <button mat-raised-button (click)="deleteResponseMapping(node.Config.ResponseMapping[index2])" >Delete</button>
      </div>
      <div style="">
        <button mat-raised-button (click)="addResponseMapping()" >Add Response mapping</button>
      </div>

    </mat-expansion-panel>
    <div style="margin-bottom: 10px;margin-top: 10px" >
      <mat-checkbox [(ngModel)]="node.Config.LogResponse" > Log response </mat-checkbox>
    </div>
  </div>


</div>
