<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/stats/event-log']" >System events</a>
  <a mat-tab-link [routerLink]="['/stats/system-metrics']" >System metrics</a>
  <a mat-tab-link active [routerLink]="['/stats/system-alarms']" >Device monitoring</a>
  <a mat-tab-link [routerLink]="['/stats/tsdb-config']" >Time series config</a>
</nav>

<br/>

<div class="table-container mat-elevation-z8">
  <div class="example-header">

  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Progress Column -->
    <ng-container cdkColumnDef="name">
      <mat-header-cell  *cdkHeaderCellDef> Name </mat-header-cell>
      <mat-cell  *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="device_type">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>  Device type </mat-header-cell>
      <mat-cell *cdkCellDef="let row" > {{row.device_type}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="vinc_dev_id">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Vinc dev id</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.vinc_dev_id}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="tech">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Tech</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.tech}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="dev_address">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Address</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.dev_address}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="power_source">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Power source</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.power_source}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="prod_hash">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Prod hash</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.prod_hash}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="wakeup_int">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Wakeup int</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.wakeup_int}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="status">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.status}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="mon_op_status">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Op status</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.mon_op_status}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="mon_type">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Monit. type</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.mon_type}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="last_contact">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Last contact</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.last_contact| date:'M/d/yy, H:mm:ss.SSS'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="last_wakeup">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Last wakeup</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.last_wakeup| date:'M/d/yy, H:mm:ss.SSS'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="last_failure">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Last failure</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.last_failure| date:'M/d/yy, H:mm:ss.SSS'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="last_recovery">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Last recovery</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.last_recovery| date:'M/d/yy, H:mm:ss.SSS'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="last_ping">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Last ping</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.last_ping| date:'M/d/yy, H:mm:ss.SSS'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="last_notify">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Last notify</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.last_notify| date:'M/d/yy, H:mm:ss.SSS'}} </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns ;"></mat-row>
  </mat-table>

<div style="width:100%;height:60px">&nbsp; </div>


</div>
