<h1 mat-dialog-title>SignIn</h1>
<mat-dialog-content>
        <mat-form-field style="width: 300px" class="node-transition-field">
            <input  matInput placeholder="Email" [(ngModel)]="email" >
        </mat-form-field>
       <div>
         <mat-form-field style="width: 300px" class="node-transition-field">
           <input type="password"  matInput placeholder="Password" [(ngModel)]="password" >
         </mat-form-field>
       </div>
      <div *ngIf="isRegisterMode">
        <mat-form-field style="width: 300px"  class="node-transition-field">
          <input type="password"  matInput placeholder="Password" [(ngModel)]="password2" >
        </mat-form-field>
      </div>
      <div>{{errorMessage}}</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="!isRegisterMode" mat-raised-button (click)="signIn()" >Sign In</button>
    <button *ngIf="isRegisterMode" mat-raised-button (click)="registerUser()" >Save</button>
    <button *ngIf="!isRegisterMode" mat-raised-button (click)="switchRegisterMode()" > Register </button>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
