<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/stats/event-log']" >System events</a>
  <a mat-tab-link active [routerLink]="['/stats/system-metrics']" >System metrics</a>
  <a mat-tab-link [routerLink]="['/stats/system-alarms']" >System alarms</a>
  <a mat-tab-link [routerLink]="['/stats/tsdb-config']" >Time series config</a>
</nav>

<br/>

<div class="table-container mat-elevation-z8">
  <div class="example-header">

  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Progress Column -->
    <ng-container cdkColumnDef="name">
      <mat-header-cell  *cdkHeaderCellDef> Name </mat-header-cell>
      <mat-cell  *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="count">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Count </mat-header-cell>
      <mat-cell *cdkCellDef="let row" > {{row.count}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="rate1m">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>1m rate</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.rate1m}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="rate5m">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>5m rate</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.rate5m}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="rate15m">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>15m rate</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.rate15m}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="meanRate">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Avg msg/sec</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.meanRate}} </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns ;"></mat-row>
  </mat-table>

<div style="width:100%;height:60px">&nbsp; </div>


</div>
