<nav mat-tab-nav-bar>
    <a mat-tab-link active [routerLink]="['/analytics/dashboard']" >Dashboard</a>
    <a mat-tab-link [routerLink]="['/analytics/sensors']" >Sensors</a>
    <a mat-tab-link [routerLink]="['/analytics/presence']" >Activity</a>
    <a mat-tab-link [routerLink]="['/analytics/energy']" >Energy</a>
    <a mat-tab-link [routerLink]="['/analytics/explore']" >Explore</a>
</nav>

<div style="overflow: hidden" >

<p>

    <mat-form-field style="height: 35px;margin: 10px;width: 250px"  >
        <mat-select matNativeControl [(ngModel)]="selectedSensorType"  placeholder="Sensor type" (change)="updateChart($event)" >
            <mat-option  *ngFor="let e of listOfSensorTypes" [value]="e.type">{{e.name}}</mat-option>
        </mat-select>
    </mat-form-field>

</p>
<line-chart #sensorChart [measurement]="selectedSensorType" [title]="''"></line-chart>
<br>
<line-chart [measurement]="'battery.evt.lvl.report'" [groupByTag]="'thing_id'" [groupByTime]="'5h'" [timeFromNow]="'1w'" [title]="'Battery levels'"></line-chart>
<br>


</div>
