<nav mat-tab-nav-bar>
    <a mat-tab-link active [routerLink]="['/analytics/dashboard']" >Dashboard</a>
    <a mat-tab-link [routerLink]="['/analytics/sensors']" >Sensors</a>
    <a mat-tab-link [routerLink]="['/analytics/activity']" >Activity</a>
    <a mat-tab-link [routerLink]="['/analytics/energy']" >Energy</a>
    <a mat-tab-link [routerLink]="['/analytics/explore']" >Explore</a>
    <a mat-tab-link [routerLink]="['/analytics/settings']" >Settings</a>
</nav>

<div style="overflow: hidden" >

<p>
  <mat-expansion-panel style="margin: 5px" >
    <mat-expansion-panel-header>
      Dashboard settings
    </mat-expansion-panel-header>
    <mat-panel-description>

    </mat-panel-description>
  <mat-form-field style="height: 35px;margin: 10px;width: 250px"  >
        <mat-label> Sensor types </mat-label>
        <mat-select matNativeControl [(ngModel)]="selectedSensorTypes" multiple  placeholder="Sensor type" (selectionChange)="updateSelectedSensorTypes()"  >
            <mat-option  *ngFor="let e of listOfSensorTypes" [value]="e.type">{{e.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="height: 35px;margin: 10px;width: 150px"  >
      <mat-label> Group by </mat-label>
      <mat-select matNativeControl [(value)]="groupByTag"  placeholder="Group by" >
        <mat-option value="location_id">Location</mat-option>
        <mat-option value="dev_id">Device</mat-option>
        <mat-option value="service_id">Service</mat-option>
        <mat-option value="none">Disabled</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="height: 35px;margin: 10px;width: 150px"  >
      <mat-label> Auto reload </mat-label>
      <mat-select matNativeControl [(value)]="refreshRate"  placeholder="reload every" >
        <mat-option [value]="20">every 20 sec</mat-option>
        <mat-option [value]="60">every 1 min</mat-option>
        <mat-option [value]="180">every 3 min</mat-option>
        <mat-option [value]="300">every 5 min</mat-option>
        <mat-option [value]="600">every 10 min</mat-option>
        <mat-option [value]="-1"> Disable </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="height: 35px;margin: 10px;width: 150px"  >
      <mat-label> Graph size </mat-label>
      <mat-select matNativeControl [(value)]="gSize"  placeholder="size" >
        <mat-option [value]="150">XS</mat-option>
        <mat-option [value]="250">S</mat-option>
        <mat-option [value]="350">M</mat-option>
        <mat-option [value]="450">L</mat-option>
        <mat-option [value]="550">XL</mat-option>
      </mat-select>
    </mat-form-field>
  <br/>
  Time range :
  <mat-form-field style="height: 35px;margin: 10px;width: 130px"  >
    <mat-label> Time from now </mat-label>
    <mat-select matNativeControl [(value)]="timeFromNow"  placeholder="Time from now" >
      <mat-option value="1h">1 hours</mat-option>
      <mat-option value="6h">6 hours</mat-option>
      <mat-option value="12h">12 hours</mat-option>
      <mat-option value="1d">1 day</mat-option>
      <mat-option value="2d">2 days</mat-option>
      <mat-option value="1w">1 week</mat-option>
      <mat-option value="2w">2 weeks</mat-option>
      <mat-option value="4w">1 month</mat-option>
      <mat-option value="12w">3 month</mat-option>
      <mat-option value="24w">6 month</mat-option>
      <mat-option value="48w">1 year</mat-option>
    </mat-select>
  </mat-form-field>
  OR
    <mat-form-field style="margin-right: 5px;margin-left: 5px;width: 130px;">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="pickerFrom" (dateChange)="fromDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom  ></mat-datepicker>
    </mat-form-field>
    -
    <mat-form-field style="margin-right: 5px;margin-left: 5px;width: 130px;">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="pickerTo" (dateChange)="toDateChange($event)" >
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo ></mat-datepicker>
    </mat-form-field>

    with resolution

    <mat-form-field style="height: 35px;margin: 10px;width: 100px"  >
      <mat-label> Resolution </mat-label>
      <mat-select matNativeControl [(value)]="groupByTime"  placeholder="Resolution" >
        <mat-option value="auto">auto</mat-option>
        <mat-option value="5m">1 min</mat-option>
        <mat-option value="5m">5 min</mat-option>
        <mat-option value="10m">10 min</mat-option>
        <mat-option value="30m">30 min</mat-option>
        <mat-option value="1h">1 hours</mat-option>
        <mat-option value="2h">2 hours</mat-option>
        <mat-option value="5h">5 hours</mat-option>
        <mat-option value="1d">1 day</mat-option>
        <mat-option value="2d">2 day</mat-option>
        <mat-option value="7d">1 week</mat-option>
        <mat-option value="1m">1 month</mat-option>
        <mat-option value="none">None</mat-option>
      </mat-select>
    </mat-form-field>


  <br/>
    <mat-form-field style="height: 35px;margin: 10px;width: 230px"  >
      <mat-label> Fill missing data </mat-label>
      <mat-select matNativeControl [(value)]="fillGaps"  placeholder="size" >
        <mat-option [value]="false">Do not fill and show as is</mat-option>
        <mat-option [value]="true">Use previous value</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="height: 35px;margin: 10px;width: 280px"  >
      <mat-label> Aggregation </mat-label>
      <mat-select matNativeControl [(value)]="dataProcFunc"  placeholder="size" >
        <mat-option [value]="'mean'">Use average</mat-option>
        <mat-option [value]="'median'">Use middle value from sorted list.</mat-option>
        <mat-option [value]="'min'">Use min value </mat-option>
        <mat-option [value]="'max'">Use max value </mat-option>
        <mat-option [value]="'first'">Use first value </mat-option>
        <mat-option [value]="'last'">Use last value </mat-option>
        <mat-option [value]="'count'">Count data points </mat-option>
        <mat-option [value]="'spread'">Difference between min and max </mat-option>
        <mat-option [value]="'stddev'">Standard deviation.How close the value to the average. </mat-option>
      </mat-select>
    </mat-form-field>


  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="reload()" >Reload</button>
    <button mat-raised-button color="primary" (click)="save()" >Save</button>
  </mat-card-actions>

  </mat-expansion-panel>

</p>


  <ng-container *ngFor="let e of listOfSensorTypes">
    <mat-card *ngIf="e.isSelected" class="sensor-panel">
       <h3>{{e.name}}</h3>
       <line-chart #sensorChart [measurement]="e.type" [isFilterEnabled]="false" [title]="''" [(timeFromNow)]="timeFromNow" [groupByTime]="groupByTime" [groupByTag]="groupByTag" [height]="gSize" [change]="reloadSignal" [fillGaps]="fillGaps" [dataProcFunc]="dataProcFunc" [fromTime]="fromTime" [toTime]="toTime"  ></line-chart>
    </mat-card>
  </ng-container>

<br>


</div>
