.zigbee-man {
  padding: 20px;

}
.example-card {
  width: 850px;
}

.example-header-image {
  background-size: cover;
}

.open-chip {
  color: green
}

.remove {
  color: red
}

md-chip {
  cursor: pointer;
}
