<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/zwave-man']" >Z-Wave</a>
  <a mat-tab-link active [routerLink]="['/zigbee-man']" >ZigBee</a>
  <a mat-tab-link [routerLink]="['/ikea-man']" >Ikea Tradfri</a>
  <a mat-tab-link [routerLink]="['/generic-ad-man']" >Generic adapter</a>
  <a mat-tab-link [routerLink]="['/systems-man']" >Systems</a>

</nav>
<div class="zigbee-man">
  <mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title><h3>Zigbee network manager</h3></mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
          <table>
          <thead><tr><th style="width: 70px">Node</th>
          <th style="width: 250px">Alias</th><th></th></tr> </thead>
          <tbody>
         <tr *ngFor="let node of nodes">
          <td> {{node.address}}</td> <td> {{node.alias}} </td>
           <td>
            <mat-chip-list>
             <mat-chip class="open-chip" [routerLink]="['/thing-view','zigbee',node.address]">Services</mat-chip>
             <mat-chip color="warn" (click)="removeDevice(node.address)">Remove</mat-chip>
            </mat-chip-list>
           </td>
          </tr>
          </tbody>
         </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="addDevice()" color="primary" > Add device</button>
      <button mat-raised-button (click)="reloadZigbeeDevices()" color="primary" >Reload list</button>
      <button mat-raised-button (click)="settings.hidden = !settings.hidden" >Advanced</button>


      <div #settings hidden >
        <p>Advanced settings </p>

        <div>
         <mat-form-field>
            <mat-label>Zigbee channel (use with care)</mat-label>
            <mat-select #zchannel value="16px">
              <mat-option value="11">11 (compatibility)</mat-option>
              <mat-option value="12">12</mat-option>
              <mat-option value="13">13</mat-option>
              <mat-option value="14">14</mat-option>
              <mat-option value="15">15 (compatibility)</mat-option>
              <mat-option value="16">16</mat-option>
              <mat-option value="17">17</mat-option>
              <mat-option value="18">18</mat-option>
              <mat-option value="19">19</mat-option>
              <mat-option value="20">20 (compatibility)</mat-option>
              <mat-option value="21">21</mat-option>
              <mat-option value="22">22</mat-option>
              <mat-option value="23">23</mat-option>
              <mat-option value="24">24</mat-option>
              <mat-option value="25">25(compatibility)</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="changeChannel(zchannel.value)">Save</button>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Run command </mat-label>
            <mat-select #zcommand value="16px" >
              <mat-option value="ping"> Execute Gecko ping </mat-option>
              <mat-option value="reset"> Restart module </mat-option>
              <mat-option value="version"> Get firmware version </mat-option>
              <mat-option value="time"> Set zigbee time</mat-option>
              <mat-option value="factory_reset">Factory reset</mat-option>
              <mat-option value="nwk_info"> Get network info</mat-option>
              <mat-option value="form_network"> Form new network</mat-option>
              <mat-option value="frst">Reset to factory default</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="runZigbeeNetCommand(zcommand.value)">Run</button>
        </div>

        <button mat-raised-button color="accent" (click)="runZigbeeNetCommand('upload')">Update firmware</button>

      </div>
   </mat-card-actions>
  </mat-card>

</div>
