<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/zwave-man']" >Z-Wave</a>
  <a mat-tab-link active [routerLink]="['/zigbee-man']" >ZigBee</a>
  <a mat-tab-link [routerLink]="['/generic-ad-man']" >Generic adapter</a>
  <a mat-tab-link [routerLink]="['/systems-man']" >Systems</a>

</nav>
<div class="zigbee-man">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h3>Zigbee network manager</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
      <thead>
        <tr>
          <th style="width: 70px">Address</th>
          <th style="width: 120px">Location</th>
          <th style="width: 150px">Name</th>
          <th style="width: 200px"></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let node of nodes">
        <td> {{node.address}}</td><td> {{node.location}} </td><td> {{node.name}} </td><td></td>
        <td>
          <mat-icon *ngIf="node.power_source=='ac'" >power</mat-icon>
          <mat-icon *ngIf="node.power_source=='dc'" >battery_std</mat-icon>
          <mat-icon *ngIf="node.power_source=='battery'" >battery_std</mat-icon>
          <mat-icon *ngIf="node.power_source=='flir'" >battery_std</mat-icon>
        </td>
        <td>
             <mat-icon *ngIf="node.status=='UP'" style="color: #27ae60">thumb_up</mat-icon>
             <mat-icon *ngIf="node.status=='DOWN'" style="color: red">thumb_down</mat-icon>
        </td>
        <td>
          <mat-chip-list>
           <mat-chip class="open-chip" [routerLink]="['/thing-view','zigbee',node.address]">Services</mat-chip>
           <mat-chip class="open-chip"  (click)="pingDevice(node.address)">Ping</mat-chip>
           <mat-chip class="open-chip"  (click)="discoverDevice(node.address)">Discover</mat-chip>
           <mat-chip class="remove" (click)="removeDevice(node.address)">Remove</mat-chip>
          </mat-chip-list>
        </td>
      </tr>
      </tbody>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="addDevice()" color="primary" > Add device</button>
      <button mat-raised-button (click)="reloadZigbeeDevices()" color="primary" >Reload list</button>
      <button mat-raised-button (click)="settings.hidden = !settings.hidden" >Advanced</button>


      <div #settings hidden >
        <p>Advanced settings </p>

        <div>
         <mat-form-field>
            <mat-label>Zigbee channel (use with care)</mat-label>
            <mat-select #zchannel value="16px">
              <mat-option value="11">11 (compatibility)</mat-option>
              <mat-option value="12">12</mat-option>
              <mat-option value="13">13</mat-option>
              <mat-option value="14">14</mat-option>
              <mat-option value="15">15 (compatibility)</mat-option>
              <mat-option value="16">16</mat-option>
              <mat-option value="17">17</mat-option>
              <mat-option value="18">18</mat-option>
              <mat-option value="19">19</mat-option>
              <mat-option value="20">20 (compatibility)</mat-option>
              <mat-option value="21">21</mat-option>
              <mat-option value="22">22</mat-option>
              <mat-option value="23">23</mat-option>
              <mat-option value="24">24</mat-option>
              <mat-option value="25">25(compatibility)</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="changeChannel(zchannel.value)">Save</button>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Run command </mat-label>
            <mat-select #zcommand value="16px" >
              <mat-option value="ping"> Ping module </mat-option>
              <mat-option value="reset"> Restart module </mat-option>
              <mat-option value="version"> Get firmware version </mat-option>
              <mat-option value="time"> Set zigbee time</mat-option>
              <mat-option value="factory_reset">Factory reset</mat-option>
              <mat-option value="form_network"> Form new network</mat-option>
              <mat-option value="get_stack_trace">Get stack strace</mat-option>
              <mat-option value="get_goroutine_num">Get num of running goroutines</mat-option>
              <mat-option value="save_device_list">Save device list</mat-option>
              <mat-option value="errors">Read SoC errors</mat-option>
              <mat-option value="upload">Upload firmware</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="runZigbeeNetCommand(zcommand.value)">Run</button>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Run with param </mat-label>
            <mat-select #zcommand_with_val value="16px" >
              <mat-option value="delete_by_address"> Delete device by nwk address </mat-option>
            </mat-select>
          </mat-form-field>
          <input #param mat-input-element size="4" style="font-size:20px;margin-left: 5px" />
          <button mat-raised-button color="accent" (click)="runZigbeeNetCommandParam(zcommand_with_val.value,param.value)">Run</button>
        </div>


        <div id="custom_interface">

          <p style="margin-top: 0"><i>Hint: Double click Cluster ID fields to get a list of cluster suggestions</i></p>

          <!-- Datalist containing cluster selection options-->
          <datalist id="clusters">
            <option *ngFor="let cluster of allClusters" [value]="cluster.id">{{cluster.name}}</option>
          </datalist>

          <form #fReadAttr="ngForm" (ngSubmit)="readAttribute(fReadAttr.value)">
            <button mat-raised-button type="submit" [disabled]="fReadAttr.invalid" color="accent">Read Attribute</button>
            UDID <input name="udid" pattern="\d+" mat-input-element size="4" ngModel>
            Endpoint <input name="ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID <input name="cluster_id" list="clusters" pattern="\d+" mat-input-element size="4" ngModel>
            Attribute ID <input name="attr_id" pattern="\d+" mat-input-element size="4" ngModel>
          </form>

          <form #fWriteAttr="ngForm" (ngSubmit)="writeAttribute(fWriteAttr.value)">
            <button mat-raised-button type="submit" [disabled]="fWriteAttr.invalid" color="accent">Write Attribute</button>
            UDID <input name="udid" pattern="\d+" mat-input-element size="4" ngModel>
            Endpoint <input name="ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID <input name="cluster_id" list="clusters" pattern="\d+" mat-input-element size="4" ngModel>
            Attribute ID <input name="attr_id" pattern="\d+" mat-input-element size="4" ngModel>
            Type
            <mat-select id="type_select" name="type" ngModel>
              <mat-option *ngFor="let type of dataTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
            Value <input name="value" pattern="\d+" mat-input-element size="4" ngModel>
          </form>

          <form #fReadRep="ngForm" (ngSubmit)="readRepConfig(fReadRep.value)">
            <button mat-raised-button type="submit" [disabled]="fReadRep.invalid" color="accent">Read Reporting</button>
            UDID <input name="udid" pattern="\d+" mat-input-element size="4" ngModel>
            Endpoint <input name="ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID <input name="cluster_id" list="clusters" pattern="\d+" mat-input-element size="4" ngModel>
            Attribute ID <input name="attr_id" pattern="\d+" mat-input-element size="4" ngModel>
          </form>

          <form #fWriteRep="ngForm" (ngSubmit)="writeRepConfig(fWriteRep.value)">
            <button mat-raised-button type="submit" [disabled]="fWriteRep.invalid" color="accent">Write Reporting</button>
            UDID <input name="udid" pattern="\d+" mat-input-element size="4" ngModel>
            Endpoint <input name="ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID <input name="cluster_id" list="clusters" pattern="\d+" mat-input-element size="4" ngModel>
            Attribute ID <input name="attr_id" pattern="\d+" mat-input-element size="4" ngModel>
            Type
            <mat-select id="type_select" name="type" ngModel>
              <mat-option *ngFor="let type of dataTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
            <br>
            <label style="margin-left: 145px; margin-top: 20px"> Rep Interval
              <input name="min_rep_interval" pattern="\d+" mat-input-element size="4" ngModel>
            </label>
            Max Rep Interval <input name="max_rep_interval" pattern="\d+" mat-input-element size="4" ngModel>
            Reportable Change <input name="reportable_change" pattern="\d+" mat-input-element size="4" ngModel>
          </form>

          <form #fBind="ngForm" (ngSubmit)="bind(fBind.value)">
            <button mat-raised-button type="submit" [disabled]="fBind.invalid" color="accent">Bind</button>
            UDID <input name="udid" pattern="\d+" mat-input-element size="4" ngModel>
            Endpoint <input name="ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID <input name="cluster_id" list="clusters" pattern="\d+" mat-input-element size="4" ngModel>
          </form>

          <form #fUnbind="ngForm" (ngSubmit)="unbind(fUnbind.value)">
            <button mat-raised-button type="submit" [disabled]="fUnbind.invalid" color="accent">Unbind</button>
            UDID <input name="udid" pattern="\d+" mat-input-element size="4" ngModel>
            Endpoint <input name="ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID <input name="cluster_id" list="clusters" pattern="\d+" mat-input-element size="4" ngModel>
          </form>

          <form #fBindList="ngForm" (ngSubmit)="getBindList(fBindList.value)">
            <button mat-raised-button type="submit" [disabled]="fBindList.invalid" color="accent">Get Bind List</button>
            UDID <input name="udid" pattern="\d+" mat-input-element size="4" ngModel>
          </form>

          <form #fBindDevices="ngForm" (ngSubmit)="bindDevices(fBindDevices.value)">
            <button mat-raised-button type="submit" [disabled]="fBindDevices.invalid" color="accent">Bind Devices</button>
            Source UDID <input name="src_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Source Endpoint <input name="src_ep" pattern="\d+" mat-input-element size="4" ngModel>
            Destination UDID <input name="dst_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Destination Endpoint <input name="dst_ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID
            <mat-select name="cluster_id" class="select-cluster" ngModel>
              <mat-option *ngFor="let cluster of groupBindClusters" [value]="cluster.id">{{cluster.name}}</mat-option>
            </mat-select>
          </form>

          <form #fUnbindDevices="ngForm" (ngSubmit)="unbindDevices(fUnbindDevices.value)">
            <button mat-raised-button type="submit" [disabled]="fUnbindDevices.invalid" color="accent">Unbind Devices</button>
            Source UDID <input name="src_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Source Endpoint <input name="src_ep" pattern="\d+" mat-input-element size="4" ngModel>
            Destination UDID <input name="dst_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Destination Endpoint <input name="dst_ep" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID
            <mat-select name="cluster_id" class="select-cluster" ngModel>
              <mat-option *ngFor="let cluster of groupBindClusters" [value]="cluster.id">{{cluster.name}}</mat-option>
            </mat-select>
          </form>

          <form #fBindGroup="ngForm" (ngSubmit)="bindGroup(fBindGroup.value)">
            <button mat-raised-button type="submit" [disabled]="fBindGroup.invalid" color="accent">Bind Group</button>
            Source UDID <input name="src_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Source Endpoint <input name="src_ep" pattern="\d+" mat-input-element size="4" ngModel>
            Group ID <input name="dst_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID
            <mat-select name="cluster_id" class="select-cluster" ngModel>
              <mat-option *ngFor="let cluster of groupBindClusters" [value]="cluster.id">{{cluster.name}}</mat-option>
            </mat-select>
          </form>

          <form #fUnbindGroup="ngForm" (ngSubmit)="unbindGroup(fUnbindGroup.value)">
            <button mat-raised-button type="submit" [disabled]="fUnbindGroup.invalid" color="accent">Unbind Group</button>
            Source UDID <input name="src_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Source Endpoint <input name="src_ep" pattern="\d+" mat-input-element size="4" ngModel>
            Group ID <input name="dst_udid" pattern="\d+" mat-input-element size="4" ngModel>
            Cluster ID
            <mat-select name="cluster_id" class="select-cluster" ngModel>
              <mat-option *ngFor="let cluster of groupBindClusters" [value]="cluster.id">{{cluster.name}}</mat-option>
            </mat-select>
          </form>

        </div>

        <br/>

      </div>
   </mat-card-actions>
  </mat-card>

</div>
