[Unit]
Description=FimpUI

[Service]
Environment=GOOGLE_APPLICATION_CREDENTIALS=/opt/fimpui/storage.json
Type=simple
ExecStart=/opt/fimpui/fimpui
User=fimp
WorkingDirectory=/opt/fimpui
Restart=on-failure
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target